.Login {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
}
.icon {
  width: 50px;
  height: 50px;
  background-image: url('../assets/login/free-icon-user-9463231.png');
  background-size: cover;
}
h1 {
  margin: 10px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 10px 0;
}

.button {
  margin: 20px 0;
  width: 40vw;
  font-size: 20px;
  background-color: #769929;
  border-radius: 25px;
}

.input {
  width: 40vw;
  height: 40px;
  margin: 1px;
  border: 1px solid rgb(104, 104, 104);
  border-radius: 25px;

}

